<!DOCTYPE html>
<html>
    <head>
        <title>Indorse</title>
        <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
<body>
    <div>
        <form  action = "login" method="POST">
        <div class = "row">
                <div class = "col-sm-1 ">
                    <label >Enter Your Email</label>
                </div>
                <div class = "col-sm-2">
                        <input name = "email" class= "form-control" type = "email" placeholder=" Enter your Email" required>
                </div>
        </div>
            <div class = "row">
                    <div class = "col-sm-1">
                            <label >Enter Your Password</label>
                    </div>
                    <div class = "col-sm-2 ">
                            <input  name = "password" class= "form-control" type = "password" placeholder="Enter Your Password" required>
                    </div>
            </div>
            <div class = "row">
                    <div class = "col-sm-1">
                            <input class = "btn btn-danger" type = "reset" value = "Reset">
                    </div>

                    <div class = "col-sm-2">
                            <input class = "btn btn-submit" type = "submit" value = "submit">
                    </div>
            </div>
        </form>
    </div>
</body>
